{{!-- This page is for authenticated user's, if we attempt to access this route when not in a session, it will redirect back to the login page. --}}
<div id="authentication">
    <article>
        {{!-- Authenticated Page Contents --}}
        <h1>Authenticated!</h1>
        <p>
            This page is for authenticated users only. If you are seeing this page, you have successfully authenticated with Google OAuth!
        </p>
        <a href="/" title="Back Home!">Back Home! <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffce44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg></a>
    </article>
</div>