{{!-- Start of Landing Container --}}
<div id="landing">
    <article>
        {{!-- Tutorial Intro Contents --}}
        <h1>Google OAuth Tutorial</h1>
        <p>
            Welcome to our Google OAuth tutorial! This tutorial will guide you through the process of setting up Google OAuth for your web application. Google OAuth is a secure way to authenticate users to your web application. We will utilize the Google OAuth 2.0 package in combination with Passport to implement Google Sign-in.
        </p>
        <a href="/auth/registration" title="Register!">Register <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffce44" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-right"><path d="M18 8L22 12L18 16"/><path d="M2 12H22"/></svg></a>
    </article>
</div>
{{!-- End of Landing Container --}}